<!-- # create_table(:recipes) do
#   primary_key :id
#   String :name, :size=>250, :null=>false
#   String :ingredients, :size=>4000, :null=>false
#   Float :cost, :size=>8, :null=>false
#   Integer :total_cookies, :size=>4, :null=>false
#   foreign_key :user_id, :users, :null=>false, :key=>[:id]
# end -->

<h1>Add a new recipe!</h1>

<form method="POST" action="/recipes">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name"/>
  </br></br>
    <label for="ingredients">Ingredients: </label>
    <input type="text" name="ingredients" id="ingredients"/>
  </br></br>
    <label for="cost">Cost: </label>
    <input type="text" name="cost" id="cost"/>
  </br></br>
    <label for="total_cookies">Total Cookies: </label>
    <input type="text" name="total_cookies" id="total_cookiest"
  </br></br>
    <input type="submit" value="Add Recipe"/>
</form>
